{% extends 'app/base_site.html' %}{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">


                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div id="chart_plot_01" data-stuff='["a","b","c"]' class="demo-placeholder"></div>
                </div>
                <div align="center">


                    <form method="post">
                        {% csrf_token %}
                        <B>إضافة مصاريف تشغيلية و صناعية</B><br>
                        {{ add_working_cost_form.name }}<br>
                        <button class="btn btn-primary" type="submit">إضافة</button>
                    </form>
                    <p align="right" dir="rtl">
                        {% for cost in all_working_costs %}
                            -{{ cost.name }}
                            <button class="btn btn-primary">تعديل</button>  -
                            <A href="{% url 'delete_work_cost' cost.pk %}">
                                <button class="btn btn-danger">مسح</button>
                            </A>
                        {% endfor %}
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}