{% extends 'app/base_site.html' %}{% load static %}
{% block content %}
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">


          <div class="col-md-9 col-sm-9 col-xs-12">
            <div id="chart_plot_01" data-stuff='["a","b","c"]' class="demo-placeholder"></div>
          </div>
<div align="center">
<A href="{% url 'clients_add' %}">
<button class="btn btn-primary">إضافة عميل جديد <span class="fa fa-plus"></span> </button>
</A>

<ul class="list-group">
        {% for person in all_clients %}
            <a href="{% url 'client_details' person.pk%}">
  <li class="list-group-item">{{ person.client_name }}</li>
            </a>
        {% endfor %}

</ul>
    </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
{% endblock %}