{% extends "app/base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
  <h3 align="right">
      {{ current_farm.farm_name }}<span class="fa fa-home"></span>
      <br><Br>
      <a href="{% url 'farm_update' current_farm.pk%}">
      <button class="btn btn-primary">تعديل المزرعة</button>
          </a>
          <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">مسح المزرعة</button>
</h3>
    <!-- top tiles -->
    <!-- /top tiles -->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">تأكيد المسح </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        هل انت متأكد من مسح المزرعة <br>{{ current_farm.farm_name }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء المسح</button>
        <a href="{% url 'farm_delete' current_farm.pk%}">
          <button type="button" class="btn btn-danger">تأكيد المسح</button>
            </a>
      </div>
    </div>
  </div>
</div>
      <!-- end of modal -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
<h2 align="right">
            العاملين فى المزرعة
            </h2>
        {% if not farm_workers %}
            <h3 align="center">{{ current_farm.farm_name }}لا يوجد عاملين فى </h3>
        {% else %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">إسم العامل</th>
      <th scope="col">تاريخ التعيين</th>
    </tr>
  </thead>
  <tbody>
  {% for worker in farm_workers %}
    <tr>
      <th scope="row">{{ worker.id }}</th>
      <td><a href="{% url 'worker_details' worker.pk%}"> {{ worker.worker_name }}</a></td>
      <td>{{ worker.worker_work_date }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}


          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <br />

    <div class="row">




    </div>

    <div class="row">



        <div class="row">


        </div>
        <div class="row">


          <!-- Start to do list -->
          <!-- End to do list -->

          <!-- start of weather widget -->
          <!-- end of weather widget -->
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}
