{% extends "app/base_site.html" %}

{% block title %} Tables {% endblock title %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main" dir="rtl">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>الوظائف
                        <small>
                            <br><br>
                        </small>
                    </h3>
                </div>

                <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <form method="post">{% csrf_token %}
                            <h3>إسم الوظيفة</h3><br>
                            {{ add_job_form.job_name }}<br>
                            <button class="btn btn-primary" type="submit">إضافة</button>
                        </form>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row" align="right" dir="rtl">


            <div class="clearfix"></div>


            <div class="clearfix"></div>

            <div class="col-md-12 col-sm-12 col-xs-12" dir="rtl" align="right">
                <div class="x_panel" dir="rtl" align="right">
                    <div class="x_title" dir="rtl">
                        <small></small>
                        </h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content" dir="rtl" align="right">

                        <div class="table-responsive" align="right" dir="rtl">
                            <table class="table table-striped jambo_table bulk_action" dir="rtl" align="right">
                                <thead dir="rtl" align="right">
                                <th class="column-title" align="right" dir="rtl">إسم الوظيفة</th>
                                <th class="column-title" align="right" dir="rtl">تعديل</th>

                                </thead>

                                <tbody>
                                {% for job in all_jobs %}
                                    <tr class="even pointer" align="center">
                                        <td class=" ">{{ job.job_name }}</td>
                                        <td class=" "><a href="{% url 'job_update' job.pk %}">
                                            <button class=" btn-primary">تعديل الوظيفة</button>
                                        </a>
                                            <button class=" btn-danger" data-toggle="modal"
                                                    data-target="#exampleModalCenter_{{ job.id }}">مسح الوظيفة
                                            </button>
                                        </td>

                                    </tr>
                                           <!-- Modal -->
<div class="modal fade" id="exampleModalCenter_{{ job.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">تأكيد المسح</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        هل انت متأكد من مسح الوظيفة<br>
          {{ job.job_name }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء المسح</button>
        <a href="{% url 'job_delete' job.pk%}">
          <button type="button" class="btn btn-danger">تأكيد المسح</button>
            </a>
      </div>
    </div>
  </div>
</div>
    <!-- end of modal -->
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
{% endblock javascripts %}






