<div class="nav_menu">
  <nav>
    <div class="nav toggle">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          {% if request.user.is_authenticated %}
            {{ request.user.username }}
            {% endif %}
          <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out pull-right"></i>تسجيل الخروج</a></li>
        </ul>
      </li>
    {% if not all_farms %}
    <div align="center">
    <a href="{% url 'add_farm' %}">
<button class="btn btn-warning"> بعد إضافة اسم الشركةإضغط هنا لإضافة مزرعة جديدة <span class="fa fa-question"></span> </button>
</a>
    </div>
    {% endif %}

    </ul>
  </nav>
</div>
